
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.App{ 
  font-family: 'Alkatra', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
}

