.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    padding: 20px;
    align-items: stretch; 

}

.grid-iten{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    min-height: 280px;
    border: 1px solid black;
    align-items: center;
}

.grid-iten img{
    height: 200px;
    max-width: 180px;
}

.grid-iten p{
    text-align: center;
    font-style: italic;
}