.books-grid{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px

}

.book{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    min-height: 280px;
    border: 1px solid black;
    align-items: center;
}

.book img{
    height: 200px;
    max-width: 180px;
}

.book p{
    text-align: center;
    font-style: italic;
}